@model MonsterAdmin.Models.ListingModels
@{
    ViewBag.Title = "Edit";
}

<div class="content">
    <!-- settings changer -->
    <div class="skins-nav">
        <a href="http://detail.herokuapp.com/form-showcase.html#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default</span>
        </a>
        <a href="http://detail.herokuapp.com/form-showcase.html#" class="skin second_nav" data-file="css/compiled/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>

    <div id="pad-wrapper" class="form-page">
        <div class="row form-wrapper">
            <ul class="nav nav-tabs">
                <li data-ng-class="menu.tab1" class="active">
                    <a href="/developer/edit/{{id}}">Product Info</a>
                </li>
                <li data-ng-class="menu.tab2">
                    <a href="/developer/upload/{{id}}">Specification</a>
                </li>
                <li data-ng-class="menu.tab3">
                    <a href="/developer/profile/{{id}}">Product Detail</a>
                </li>
                <li data-ng-class="menu.tab4">
                    <a href="/developer/enquiry/{{id}}">Gallery</a>
                </li>
            </ul>
        </div>

        @Html.AntiForgeryToken()
        <div class="row form-wrapper" data-ng-controller="ListingCreateCtrl">
            @*<form id="form" class="form-horizontal" data-ng-submit="save(form)" name="listing" novalidate>*@
            @using (Html.BeginForm("Edit", "Listing"))
            {
                <div class="tab-content col-md-12">
                    <!-- Sale Type -->
                    <div id="sale" class="tab-pane fade in active" data-ng-show="reference.saleType != null">
                        <div class="row wrap-box">
                            <h3>What do you want to sale?</h3>

                            <div data-ng-repeat="t in reference.saleType">
                                <div class="col-md-3" data-ng-click='setCategory(t.KeyString, t.ValueString)'>
                                    <a href="#detail">
                                        <div class="category" data-ng-class="getClass(t.KeyString)" data-ng-model="form.SaleType">
                                            <i data-ng-if="t.CssClass !== null" data-ng-class="t.CssClass"></i>
                                            <i data-ng-if="t.CssClass === null" class="fa fa-5x fa-truck"></i>
                                            <div class="category-detail">
                                                {{ t.ValueString }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="detail" class="tab-pane">
                        <!-- left column -->
                        <div class="col-md-7 column ">
                            <div class="field-box">
                                <label>Title</label>
                                <div class="col-md-8">
                                    @*<input type="text" class="form-control inline-input" data-ng-model="form.Title" placeholder="Enter Title here." />*@
                                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control inline-input", placeholder = "Enter Title here." })
                                    @Html.ValidationMessageFor(m => m.Title)
                                </div>
                            </div>

                            <div class="field-box">
                                <label>Category</label>
                                <div class="col-md-8">
                                    <select data-ng-model="form.CategoryID" class="form-control validate[required]"
                                            data-ng-options="p.KeyString as p.ValueString group by p.ParentValue for p in reference.categoryType | orderBy: 'ParentValue'">
                                        <option value="">-- Please select --</option>
                                    </select>
                                    @Html.HiddenFor(m => m.CategoryID)
                                    @Html.ValidationMessageFor(m => m.CategoryID)
                                </div>
                            </div>

                            <div class="field-box">
                                <label>Brand</label>
                                <div class="col-md-8">
                                    <select class="form-control" data-ng-model="form.Location">
                                        <option value="">--- Select one ---</option>
                                        <option value="1">Kuala Lumpur</option>
                                        <option value="2">Selangor</option>
                                        <option value="3">Pulau Pinang</option>
                                        <option value="4">Melaka</option>
                                        <option value="5">Johor</option>
                                        <option value="6">Kedah</option>
                                        <option value="7">Negeri Sembilan</option>
                                        <option value="8">Terengganu</option>
                                        <option value="9">Kelantan</option>
                                        <option value="10">Pahang</option>
                                        <option value="11">Perak</option>
                                        <option value="12">Perlis</option>
                                        <option value="13">Sabah</option>
                                        <option value="14">Sarawak</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field-box">
                                <label>Product Details:</label>
                                <div class="col-md-8">
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="field-box">
                                <label>Original Price:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="field-box">
                                <label>Discounted Price:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" placeholder="max 8 characters here">
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="submit" data-ng-click="presubmit()" class="btn-glow primary btn-next" />
                        </div>
                        <!-- right column -->
                        <div class="col-md-5 column pull-right">
                            <form>
                                <div class="field-box">
                                    <label>Options:</label>

                                    <div class="col-md-12">
                                        <label class="checkbox" style="width:100%">

                                            <input type="checkbox" value="">
                                            <span>CASH ON DELIVERY</span>

                                        </label>
                                        <label class="checkbox" style="width:100%">

                                            <input type="checkbox" value="">
                                            <span>LOCAL SUPPLIER WARRANTY</span>

                                        </label>

                                        <label>LOCAL MANUFACTURER WARRENTY</label>
                                        <div class="input-group">

                                            <span class="input-group-addon">
                                                <input type="checkbox">
                                            </span>
                                            <input type="text" class="form-control" placeholder="years">
                                        </div>
                                        <label>LOCAL SUPPLIER WARRENTY</label>
                                        <div class="input-group">

                                            <span class="input-group-addon">
                                                <input type="checkbox">
                                            </span>
                                            <input type="text" class="form-control" placeholder="years">
                                        </div>
                                    </div>
                                </div>

                                <div class="field-box">
                                    <label>Radiobuttons:</label>
                                    <div class="col-md-8">
                                        <label class="radio">
                                            <div class="radio" id="uniform-optionsRadios1"><span class="checked"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""></span></div>
                                            Option one is this and that—be sure to include why it's great
                                        </label>
                                        <label class="radio">
                                            <div class="radio" id="uniform-optionsRadios2"><span><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"></span></div>
                                            Option two can be something else and selecting it will deselect option one
                                        </label>
                                    </div>
                                </div>
                                <div class="field-box">
                                    <label>Select:</label>
                                    <div class="ui-select">
                                        <select>
                                            <option selected="">Dropdown</option>
                                            <option>Custom selects</option>
                                            <option>Pure css styles</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-box">
                                    <label>Select2 plugin styled:</label>
                                    <div class="select2-container select2" id="s2id_autogen1" style="width: 250px">    <a href="http://detail.herokuapp.com/form-showcase.html#" onclick="return false;" class="select2-choice select2-default">   <span>Select a State</span><abbr class="select2-search-choice-close" style="display: none;"></abbr>   <div><b></b></div></a>    <div class="select2-drop select2-offscreen">   <div class="select2-search">       <input type="text" autocomplete="off" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select style="width: 250px; display: none;" class="select2">
                                        <option value=""></option>
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="CO">Colorado</option>
                                        <option value="ID">Idaho</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="UT">Utah</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TX">Texas</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="IN">Indiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="OH">Ohio</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WV">West Virginia</option>
                                    </select>
                                </div>
                                <div class="field-box">
                                    <label>Select2 multiselect:</label>
                                    <div class="select2-container select2-container-multi select2" id="s2id_autogen2" style="width: 250px">    <ul class="select2-choices">  <li class="select2-search-choice">    <div>Hawaii</div>    <a href="http://detail.herokuapp.com/form-showcase.html#" onclick="return false;" class="select2-search-choice-close" tabindex="-1"></a></li><li class="select2-search-field">    <input type="text" autocomplete="off" class="select2-input" style="width: 20px;">  </li></ul><div class="select2-drop select2-drop-multi" style="display:none;">   <ul class="select2-results">   </ul></div></div><select style="width: 250px; display: none;" multiple="" class="select2">
                                        <option value=""></option>
                                        <option value="AK">Alaska</option>
                                        <option value="HI" selected="">Hawaii</option>
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="CO">Colorado</option>
                                        <option value="ID">Idaho</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="UT">Utah</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TX">Texas</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="IN">Indiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="OH">Ohio</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WV">West Virginia</option>
                                    </select>
                                </div>
                                <div class="field-box">
                                    <label>Input prepend &amp; append:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">@@</span>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                                <div class="field-box">
                                    <label>Datepicker:</label>
                                    <input type="text" value="03/29/2013" class="form-control input-datepicker">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            }
            @*</form>*@
        </div>

    </div>
</div>
